/* .header {
    background-color:rgb(244, 244, 236);
    border-bottom: 1px solid white;
    padding: 50px 30px;
  }
 
  /* .header-container {
    display: flex;
    justify-content: space-between;
     align-items: center; 
  }  */
  
  /* .logo img {
    max-width: 150px;
  } */
   .nav-links .about-link{
    display: flex; 
    position: absolute;
    right: 20px;
  } 

  .nav-links .login-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    right: 20px;
  }  

  .font-size{
    font-size: 11px;
}